.project
/.settings
/**/target
/pctseaweb/shinyR/data/
/pctseaweb/shinyR/.Rhistory
/pctseaweb/logs/
/pctsea-core/.settings/
/pctsea-cl/.settings/
/pctsea-cl/2*/
/pctsea-cl/logs/
/pctsea-cl/others/
/pctsea-cl/target/

